/*内容に関するスタイル*/
#content{
	position:absolute;
	top:20%;
	height:75%;
	width: 100%;
}

#introduction{
	text-align: center;
}

.cafe{
	float:left;
	margin-left: 10%;
}

.name{
	font-size:2em;
}

.info{
	word-break:break-all;
}
